@font-face {
  font-family: "Figtree";
  src: url("./fonts/Figtree-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900; /* Variable weight range */
  font-style: normal;
}

@font-face {
  font-family: "Figtree";
  src: url("./fonts/Figtree-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

:root {

  --font-primary: 'Figtree', sans-serif;

  --yellow-bg: #F4D04E;
  --gray-950: #111111;
  --gray-500: #6B6B6B;
  --white: #FFFFFF;

  --fw-ebold: 900;
  --fw-medium: 500;

  --fz-large: 18px; 
  --fz-medium: 14px;
  --fz-small: 12px;

  --line-height: 150%;
  --lettter-spacing: 0px;
}

@media(min-width: 700px){
  :root {
    --fz-large: 20px; 
    --fz-medium: 16px;
    --fz-small: 14px;
  }
}

img {
  max-width: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray-950);
  background-color: var(--yellow-bg);
  font-family: var(--font-primary);
  line-height: var(--line-height);
  letter-spacing: var(--lettter-spacing);
}

.main {
  max-width: 384px;
  margin-left: 24px;
  margin-right: 24px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  background-color: var(--white);
  border-radius: 20px;
  border: 1px solid var(--gray-950);
  box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);
}

.img-container {
  border-radius: 10px;
  overflow: hidden;
}

.details-container span{
  display: block;
  font-size: var(--fz-small);
}

.details-container .learning-tag {
  display: inline-block;
  padding: 4px 12px;
  border-radius: 4px;
  margin-bottom: 14px;
  font-weight: var(--fw-ebold);
  background-color: var(--yellow-bg);
}

.details-container .publish-date {
  font-weight: var(--fw-medium);
}

.course-heading {
  margin: 12px 0;
  font-size: var(--fz-large);
  font-weight: var(--fw-ebold);
}

.course-heading:hover {
  color: var(--yellow-bg);
  cursor: pointer;
}

.course-description {
  font-size: var(--fz-medium);
  font-weight: var(--fw-medium);
}

.course-creator-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.profile-img {
  height: 32px;
}

.course-creator-name {
  font-size: var(--fz-medium);
  font-weight: var(--fw-ebold);
}