@font-face {
  font-family: "Figtree";
  src: url("./Fonts/Figtree-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900; /* Variable weight range */
  font-style: normal;
}

@font-face {
  font-family: "Figtree";
  src: url("./Fonts/Figtree-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

